

/*
Registration/Login Form by html-form-guide.com
You can customize all the aspects of the form in this style sheet
*/
/*#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. 
}

.stretch {
    width:100%;
    height:auto;
    min-height:100%;
}

*/
@font-face {

	font-family: 'openSans';
	src: url('../fonts/OPENSANS-REGULAR.TTF');
	src:
		local('Open Sans'),
		local('Open-Sans'),
		url('../fonts/OPENSANS-REGULAR.TTF')
		format('truetype');
}

@font-face {
	font-family: 'openSans-semi';
	src: url('../fonts/OPENSANS-SEMIBOLD.TTF');
	src:
		local('Open Sans semi'),
		local('Open-Sans-semi'),
		url('../fonts/OPENSANS-SEMIBOLD.TTF')
		format('truetype');
}

body {
    background-image:  url(../img/bg.jpg);
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
}

body {
  margin: 20px 2%;
  padding: 0px;
}



#box {
    color: white;


}

.boxcontent {
    background-color: rgba(45, 166, 247, .7);

    padding: 5px;
}

.boxcontent textarea {
   color: black;
}
.boxcontent h3{
    font-size: 35px;
    text-align: center
}



.boxcontent ul {
    /*list-style-image: url('sqpurple.gif');*/
    font-size: 20px;
    margin-left: 20px;

}


.boxcontent  img {
    vertical-align: top;
}

.boxcontent input{
     margin-bottom: 5px;
     position: relative;
    color: grey;
 }


.availability
{
    margin-right:1px;
    color: white;
    border-color: black;
    align-self: center;
}

.availability input, .availability span
{
    width: 15px;
    color: white;
    border: 1px;

}
.availability label
{
    width: 120px !important;
}

.boxcontent select{
    margin: 5px;
    position: relative;
    color: grey;
}


.boxcontent label{
    text-align: right;
    width: 120px;
}


.boxcontent select{
    background: grey repeat scroll 0 0 transparent;
    color: grey;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    border: none;
    cursor: pointer;
    width: 200px;

}



p.back {
  clear: both;
  text-align: center;
}


.icons {
 margin-top:-20px;
 margin-left:15px;
}
.text_header {
 color:white;
 font-size:30px;
 text-align:center;
 margin-left:15px;
 margin-top:-35px;
 min-width:200px;
}
/*
Registration/Login Form by html-form-guide.com
You can customize all the aspects of the form in this style sheet
*/
#ueberschrift
{
    margin-top: 20px;
    background: rgba(108, 24, 161, .5);
    max-height:70px;
	font-family:openSans-semi;

}


.button {
 background-color:#0a70ff;
 color:white;
 padding: 5px;
 padding-left: 15px;
 padding-right: 15px;
 font-size: 20px;
 border:0px;
 float: right;
    margin: 10px;
    margin-right: 20px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
.button:hover {
   border-top-color:#09F;
   background: #09F;
   color: #ccc;
}
.button:active {
   border-top-color: #09F;
   background: #09F;
}


.leftcol {
    float: left;
    width: 350px;
    /*background-color: red;*/
    min-height: 100px;
    margin-right: 50px;

}

.centercol {
    float: left;
    width: 350px;
    /*background-color: red;*/
    min-height: 100px;
    margin-right: 50px;

}


.rightcolsmall {
    float: left;

    position: top;
    float: left;
   /* display: block;*/
    width: 300px;
   /* background-color: green;*/
    min-height: 100px;

}


@media all and (min-width: 950px) {
    .leftcol {

    }
    .rightcol {
        float: right;
        margin-left: 100px;
    }
}

@media all and (max-width: 950px) {
    .leftcol {
        float: left;
        margin-right: 100px;
    }
    .rightcol {
        float: left;
        margin-top: 20px;

    }
}

.leftcolwide {
    float: left;
    width: 500px;
    /*background-color: red;*/
    min-height: 100px;
}


.rightcolwide {
    position: top;
    float: right;
    display: block;
    width: 500px;
    /* background-color: green;*/
    min-height: 100px;
}



@media all and (min-width: 1000px) {
    .leftcolwide {

    }
    .rightcolwide {
            float: right;
    }
}

@media all and (max-width: 1000spx) {
    .leftcolwide {
        float: left;
    }
    .rightcolwide {
        float: left;
        margin-top: 20px;

    }
}

.add {
    cursor: pointer;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;

}

.add:hover {
    background: #09F;
}

.rightsubbox
{
    width: 90%;
    float: right;
}

.threeinarow {
    width: 100%;
}

.threeinarow select{
    width: 138px;
}