
<!-- this controller is available over all elements in the span below -->
<span ng-controller="StudyCtrl">
    <div class="leftcolwide">
        <div id="box">
            <div id="ueberschrift"><img src="../img/trichter.png" class="icons" align="baseline" width="22%" alt="Filter"/>
                <span class="text_header">Filter</span>
            </div>
            <div class="boxcontent">
                <span class="nullable">
                    <!-- Angular Select -->
                    <select data-ng-model="mymodel" ng-options="study.name for study in studys">
                        <option value="">-- choose color --</option>
                    </select>
                    The value selected is {{mymodel.name}}.
                </span>
            </div>
        </div>
    </div>
  
    <div class="rightcolwide">
        <div id="box">
            <div id="ueberschrift"><img src="../img/student.png" class="icons" align="baseline" width="12%" alt="student"/>
                <span class="text_header">Studierende</span>
            </div>
            <div class="boxcontent">
                <!-- Angularcontent -->
                <input type="text" ng-model="search">
                <p ng-show="search">Du suchst gerade nach: {{search}}</p>
                </form>
                <table class="table" ng-controller="ArticlesCtrl">
                <!-- filter:{study : mymodel.name} filters is applied in just the study column!!! Cool.... -->
                <tr class="animateme" ng-repeat="article in articles| filter:{study : mymodel.name} | filter:search">
                <td>{{article.id}}</td>
                <td>{{article.studentname}}</td>
                <td>{{article.study}}</td>
                <td>{{article.region}}</td>
                </tr>
                </table>
                <!-- end Angularcontent -->
            </div>
        </div>
   
    </div>
</span>