
<!-- this controller is available over all elements in the span below -->
<span ng-controller="FilterCtrl">
    <div class="leftcolwide">
        <div id="box">
            <div id="ueberschrift"><img src="../img/trichter.png" class="icons" align="baseline" width="22%" alt="Filter"/>
                <span class="text_header">Filter</span>
            </div>
            <div class="boxcontent">


                <select name="region" data-ng-model="study"
                        ng-options="study.name for study in studys" required>
                    <option value="">-- Bitte wählen --</option>
                </select>
                <select name="region" data-ng-model="region"
                        ng-options="region.name for region in regions" required>
                    <option value="">-- Bitte wählen --</option>
                </select>
                <select name="industries" data-ng-model="industries"
                        ng-options="industry.name for industry in industries" required>
                    <option value="">-- Bitte wählen --</option>
                </select>
            </div>
        </div>


    </div>
  
    <div class="rightcolwide">
        <div id="box">
            <div id="ueberschrift"><img src="../img/student.png" class="icons" align="baseline" width="12%" alt="student"/>
                <span class="text_header">Studierende</span>
            </div>
            <div class="boxcontent">
                <!-- Angularcontent -->
                <input type="text" ng-model="search">
                <p class="animateme" ng-show="search">Du suchst gerade nach: {{search}}</p>
                </form>
                <!--<table class="table" ng-controller="ArticlesCtrl">-->
                <table class="table">
                <!-- filter:{study : mymodel.name} filters is applied in just the study column!!! Cool.... -->
                <tr  class="animate-repeat clearfix"  ng-repeat="student in students| filter:{study : study.name} | filter:{region : region.name}" ng-click="showDetails(student)" data-animation="am-fade-and-scale"   data-template="./templates/studentDetail.html" bs-modal="studentDetailmodal" data-placement="center">

                <td><img src="data:image/jpeg;base64, {{student.image}}" width="42"/></td>
                <td>{{student.firstname}}</td>
                <td>{{student.lastname}}</td>
                <td>{{student.study}}</td>
                <td>{{student.region}}</td>

                </tr>

                </table>


                <!-- end Angularcontent -->
            </div>
        </div>


   
    </div>
</span>