<span ng-controller="JobprofilesCtrl">



    <div class="leftcol">
        <div id="box">
            <div id="ueberschrift">
                <span class="text_header">Job-Profil</span>
            </div>
            <div class="boxcontent">
                <form novalidate class="simple-form" name="jobprofileForm" ng-submit="">
                    <label>Region</label>
                    <select name="region" data-ng-model="user.region" ng-options="region.name for region in regions"
                            required>
                        <option value="">-- please choose --</option>
                    </select><br/>
                    <label>Employment Type</label>
                    <select name="employmentType" data-ng-model="user.employmentType"
                            ng-options="employmenttype.name for employmenttype in employmenttypes"
                            required>
                        <option value="">-- please choose --</option>
                    </select><br/>
                    <label>Workload From</label>
                    <select name="workloadFrom" data-ng-model="user.workloadFrom"
                            ng-options="workload.name for workload in workloads" required>
                        <option value="">-- please choose --</option>
                    </select>
                    <label>Workload To</label>
                    <select name="workloadFrom" data-ng-model="user.workloadTo"
                            ng-options="workload.name for workload in workloads" required>
                        <option value="">-- please choose --</option>
                    </select>
                    <input placeholder="availability from" type="date" name="dateFrom" ng-model="user.availabilityFrom">
                    <input placeholder="availability to" type="date" name="dateTobday" ng-model="user.availabilityTo">
                    <br />
                    <fieldset class="availability rightsubbox">
                        <label>wochentag</label>
                        <span>mo</span>
                        <span>di</span>
                        <span>mi</span>
                        <span>do</span>
                        <span>fr</span>
                        <span>sa</span>
                        <span>so</span>
                        <br />
                        <label>morgen</label>
                        <input ng-model="user.availability.mon.morning" type="checkbox"></input>
                        <input ng-model="user.availability.tue.morning" type="checkbox"></input>
                        <input ng-model="user.availability.wed.morning" type="checkbox"></input>
                        <input ng-model="user.availability.thu.morning" type="checkbox"></input>
                        <input ng-model="user.availability.fri.morning" type="checkbox"></input>
                        <input ng-model="user.availability.sat.morning" type="checkbox"></input>
                        <input ng-model="user.availability.sun.morning" type="checkbox"></input>
                        <br />
                        <label>nachmittag</label>
                        <input ng-model="user.availability.mon.afternoon" type="checkbox"></input>
                        <input ng-model="user.availability.tue.afternoon" type="checkbox"></input>
                        <input ng-model="user.availability.wed.afternoon" type="checkbox"></input>
                        <input ng-model="user.availability.thu.afternoon" type="checkbox"></input>
                        <input ng-model="user.availability.fri.afternoon" type="checkbox"></input>
                        <input ng-model="user.availability.sat.afternoon" type="checkbox"></input>
                        <input ng-model="user.availability.sun.afternoon" type="checkbox"></input>
                        <br />
                        <label>abend</label>
                        <input ng-model="user.availability.mon.evening" type="checkbox"></input>
                        <input ng-model="user.availability.tue.evening" type="checkbox"></input>
                        <input ng-model="user.availability.wed.evening" type="checkbox"></input>
                        <input ng-model="user.availability.thu.evening" type="checkbox"></input>
                        <input ng-model="user.availability.fri.evening" type="checkbox"></input>
                        <input ng-model="user.availability.sat.evening" type="checkbox"></input>
                        <input ng-model="user.availability.sun.evening" type="checkbox"></input>
                        <br />
                        <label>nacht</label>
                        <input ng-model="user.availability.mon.night" type="checkbox"></input>
                        <input ng-model="user.availability.tue.night" type="checkbox"></input>
                        <input ng-model="user.availability.wed.night" type="checkbox"></input>
                        <input ng-model="user.availability.thu.night" type="checkbox"></input>
                        <input ng-model="user.availability.fri.night" type="checkbox"></input>
                        <input ng-model="user.availability.sat.night" type="checkbox"></input>
                        <input ng-model="user.availability.sun.night" type="checkbox"></input>
                        <br />
                        <label>Commission: </label><input type="radio" ng-model="user.commission" value="yes" />yes
                        <input type="radio" ng-model="user.commission" value="no" />no<br />


                    </fieldset>
                    <label>Mobility</label>

                    <select name="workloadFrom" data-ng-model="user.mobility"
                            ng-options="transport.name for transport in mobility" required>
                        <option value="">-- please choose --</option>
                    </select>
                    <br />
                    <br />

                    <br />

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />



                    dfsdf
            </div>
        </div>


        </form>

</span>
