<span ng-controller="MessageCtrl">


    <div class="leftcol">
        <div id="box">
            <div id="ueberschrift">
                <span class="text_header">Nachrichten</span>
            </div>
            <div class="boxcontent">
                <span ng-click="new()"><h3>Neu</h3></span>
                <span ng-click="clickOpenMessages()"><h3>Offen ({{openMessages.length}})</h3></span>
                <span><h3>Abgeschlossen</h3></span>
                <span ng-click="draft()"><h3>Entwürfe ({{drafts.length}})</h3></span>


            </div>
        </div>
    </div>
    <span message-draft ng-show="showDraftMessage"/>


    <span message-new ng-show="showNewMessage"/>

     <span message-open ng-show="showOpenMessages"/>


    <div style="width:100%; float:left;">
        <pre>invalid = {{jobprofileForm.$invalid}}</pre>
        <pre>form = {{message | json}}</pre>
        <pre>drafts = {{drafts | json}}</pre>



    </div>

</span>
