<!-- this controller is available over all elements in the span below -->


<span ng-controller="RegisterCtrl">

    <div class="leftcolwide">
        <div id="box">
            <div id="ueberschrift"><img src="../img/trichter.png" class="icons" align="baseline" width="22%" alt="Register"/>
                <span class="text_header">Register</span>
            </div>



            <form novalidate class="simple-form" name="registerForm" ng-submit="update(user)">

            <div class="boxcontent">
                    Firstname: <input type="text" ng-model="user.student.firstname" required/><br />
                    Lastname: <input type="text" ng-model="user.student.lastname" required/><br />
                    <fieldset>
                        Street: <input type="text" ng-model="user.address.street" required/><br />
                        No: <input type="text" ng-model="user.address.streetno" required/><br />
                    </fieldset>
                    Zip: <input type="text" ng-model="user.address.zip" required/><br />
                    City: <input type="text" ng-model="user.address.city" required/><br />

                    Telephone: <input type="text" ng-model="user.student.telephone" /><br />
                    Gender: <input type="radio" ng-model="user.student.gender" value="male" />male
                    <input type="radio" ng-model="user.student.gender" value="female" />female<br />
                    <input type="date" ng-model="user.student.birthdate" id="exampleInput" name="input" ng-model="value"
                           placeholder="yyyy-MM-dd" min="1940-01-01" max="2013-12-31" required /><br />

                    E-mail: <input  ng-class="{ 'has-error' : isNotUniqueEmail && registerForm.email.$dirty }" type="email" name="email" ng-change="checkUnique()" ng-model="user.student.email" required/><br />
                    <div class="alert alert-danger" ng-show="isNotUniqueEmail">This email is not unique!</div>
                    Password: <input type="password" ng-model="user.student.password" required/><br />
                    Password Validate: <input type="password"  required/><br />
            </div>

            <div class="centercol">
                <div id="box">
                    <div id="ueberschrift">
                        <span class="text_header">Profil anlegen</span>
                    </div>
                    <div class="boxcontent">
                            <!-- Angular Select -->
                        University:
                        <select data-ng-model="user.university" ng-options="university.name for university in universities" required></select><br />
                        Study:
                        <select data-ng-model="user.study" ng-options="study.name for study in studys" required></select><br />
                            The value selected is {{user.study.name}}.<br />
                        Minor field of study:
                        <select data-ng-model="user.minor" ng-options="study.name for study in studys" ></select><br />

                        <fieldset id="languages" class="threeinarow">
                            Language:
                            <select ng-change="changeLang(1,user.language1.language.id)" data-ng-model="user.language1.language" ng-options="language.name for language in languages" ></select><br />
                            Language Diploma:
                            <select  data-ng-model="user.language1.languageDiploma" ng-options="langDipl.name for langDipl in languageDiploma[1]" ></select><br />
                            Language Oral1:
                            <select data-ng-model="user.language1.languageOral">
                                <option value="1">grundlagen</option>
                                <option value="2">gut</option>
                                <option value="3">sehr gut</option>
                                <option value="4">fliessend</option>
                                <option value="5">muttersprache</option>
                            </select>
                        </fieldset>

                        <fieldset id="languages" class="threeinarow">
                            Language2:
                            <select ng-change="changeLang(2,user.language2.language.id)" data-ng-model="user.language2.language" ng-options="language.name for language in languages" ></select><br />
                            Language Diploma2:
                            <select  data-ng-model="user.language2.languageDiploma" ng-options="langDipl.name for langDipl in languageDiploma[2]" ></select><br />
                            Language Oral2:
                            <select data-ng-model="user.language2.languageOral">
                                <option value="1">grundlagen</option>
                                <option value="2">gut</option>
                                <option value="3">sehr gut</option>
                                <option value="4">fliessend</option>
                                <option value="5">muttersprache</option>
                            </select>
                        </fieldset>
                        <fieldset id="languages" class="threeinarow">
                        Language3:
                        <select ng-change="changeLang(3, user.language3.language.id)" data-ng-model="user.language3.language" ng-options="language.name for language in languages" ></select><br />
                        Language Diploma3:
                        <select  data-ng-model="user.language3.languageDiploma" ng-options="langDipl.name for langDipl in languageDiploma[3]" ></select><br />
                        Language Oral3:
                        <select data-ng-model="user.language3.languageOral">
                            <option value="1">grundlagen</option>
                            <option value="2">gut</option>
                            <option value="3">sehr gut</option>
                            <option value="4">fliessend</option>
                            <option value="5">muttersprache</option>
                        </select>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="rightcolsmall">
                <div id="box">
                    <div id="ueberschrift">
                        <span class="text_header">So geht es weiter</span>
                    </div>
                    <div class="boxcontent">
                        <br />
                        <p><img src="../img/callcenter.jpg" class="icons" align="bottom" width="90%" alt="student"/></p>
                        Schliesse die Registrierung nun ab und bestätige Deine Anmeldung mit dem Link, den wir Dir zuschicken.
                        <br />
                        <br />
                        Damit dich Arbeitgeber finden, brauchst Du nur noch ein Jobprofil zu erfassen.
                        <button class="button" ng-click="reset()">RESET</button>
                        <button type="submit" ng-disabled="registerForm.$invalid || isNotUniqueEmail" class="button radius">Submit</button>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            </form>
            <pre>form = {{user | json}}</pre>
            <pre>master = {{master | json}}</pre>
        </div>
    </div>
</span>