
<div role="dialog" tabindex="-1" class="modal ng-scope top am-fade-and-slide-top" style="display: block;">
    <iframe src="dummypage.html" name="dummy" style="display:none; width:0px; height: 0px;" ></iframe>
    <div class="modal-dialog">
        <div class="worq-modal-content">
            <div ng-show="content"  class="modal-header">
                <button ng-click="$hide()" action="post" class="close" type="button">×</button>
                <h4 ng-bind-html="title" class="modal-title ng-binding">Login</h4></div>
            <div class="modal-body" ng-bind="content"></div>
            <form target="dummy"  action="dummypage.html" ng-submit="verifyLogin()">
                <div style="margin-left:20px;">
                <label style="width: 100px;">Email:</label><input placeholder="Email" type="text" ng-model="credentials.email" style="color:black;"/><br />
                <label style="width: 100px;">Passwort:</label><input placeholder="Password" ng-model="credentials.password" type="password" style="color:black;" />
                </div>
            <div class="modal-footer">
                <button ng-click="$hide()" class="btn btn-default" type="button">Close</button>
                <button  class="btn btn-primary" type="submit">Login</button>
            </div>
            </form>
            </div>
    </div>
</div>

