
<div role="dialog" tabindex="-1" class="modal ng-scope top am-fade-and-scale" style="display: block;">

    <iframe src="dummypage.html" name="dummy" style="display:none; width:0px; height: 0px;" ></iframe>
    <div class="modal-dialog">
        <div class="modal-content">
            <div   class="modal-header">
                <button ng-click="$hide()" action="post" class="close" type="button">×</button>
                <h4 ng-bind-html="title" class="modal-title ng-binding">nope</h4></div>
            <div class="modal-body">
                <table class="table">
                <tr>
                    <!-- Dont store silly image as blob in DB!-->
                    <td>{{student.firstname}}</td>
                    <td>{{student.lastname}}</td>
                    <td>{{student.study}}</td>
                    <td>{{student.region}}</td>
                </tr>
                </table>

            </div> <!--this content has to be moved from controller to here-->

            <button ng-click="showContactForm()" ng-show="showContactButton" class="animateme btn btn-primary" type="button">Kontaktieren</button>

            <form target="dummy" ng-show="contactFormVisible" action="dummypage.html" ng-submit="sendContactForm()" class="animateme">

                <textarea rows="10" ng-model="student.message">{{student.message}}</textarea>
                <br />
                <button   class=" btn btn-primary" type="submit">Nachricht senden</button>

            </form>
        <button ng-click="$hide()" class="btn btn-default" type="button">Close</button>
        </div>
    </div>
    </div>
</div>

